<html>
	<head>
		<title>Cleanz, Outil de gesiton de projet</title>
	</head>
	<body>
		<h2>Bienvenue sur mon application de gestion de projet</h2>
		<p>Cleans, Outil de gestion de projet open-source en Node.Js powered with AngularJs</p>
		{{ title }}
	</body>
</html>