<!DOCTYPE html>
<html lang="en" ng-app="Cleanz">
	<head>
	    <meta charset="utf-8">
	    <title>Outil de gestion de projet</title>
	    <link href="app/css/foundation.css" rel="stylesheet">
	    <link href="app/css/style.css" rel="stylesheet">
	</head>
	<body>
		<h2> Bienvenue sur mon outil de gestion de projets </h2>

		 <div ng-view></div>


		<script src="app/lib/underscore.js"></script>
		<script src="app/lib/angular-file-upload-html5-shim.min.js"></script> 
		<script src="app/lib/angular.js"></script>
		<script src="app/lib/angular-file-upload.min.js"></script> 
		<script src="app/lib/angular-route.js"></script>
		<script src="app/js/app.js"></script>
		<script src="app/js/services.js"></script>
		<script src="app/js/controllers/bugs.js"></script>
		<script src="app/js/controllers/documents.js"></script>
		<script src="app/js/controllers/logs.js"></script>
		<script src="app/js/controllers/meetings.js"></script>
		<script src="app/js/controllers/projects.js"></script>
		<script src="app/js/controllers/tasks.js"></script>
		<script src="app/js/controllers/users.js"></script>

	</body>
</html>