/** Import **/
/** Constants **/
/** CSS **/
/* line 13, ../scss/style.scss */
html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #363634;
  height: 760px;
}

/* line 19, ../scss/style.scss */
body {
  background-color: #f9f7ed;
}

/* line 23, ../scss/style.scss */
.btn {
  font-size: 13px;
}

/* line 27, ../scss/style.scss */
.ng-scope, container-fluid ng-scope {
  height: 100%;
}

/* line 31, ../scss/style.scss */
header {
  width: 100%;
  padding-top: 0px;
  background-color: #363634;
}
/* line 36, ../scss/style.scss */
header #nomApp {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
/* line 41, ../scss/style.scss */
header #nomApp h4 {
  margin-top: 1%;
  margin-left: 7%;
  color: white;
  font-size: 32px;
  letter-spacing: 1px;
}
/* line 48, ../scss/style.scss */
header #nomApp h4 .red {
  font-style: italic;
}
/* line 54, ../scss/style.scss */
header #menuDroite {
  width: 54%;
  display: inline-block;
  vertical-align: top;
}
/* line 59, ../scss/style.scss */
header #menuDroite a {
  text-decoration: none;
  color: white;
}
/* line 64, ../scss/style.scss */
header #menuDroite li {
  margin-top: 2%;
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
  margin-left: 9%;
}

/* line 74, ../scss/style.scss */
label {
  font-weight: 300;
}

/* line 78, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 82, ../scss/style.scss */
.red {
  color: #ec5148;
}

/* line 86, ../scss/style.scss */
.blue {
  color: #007095;
}

/* line 89, ../scss/style.scss */
nav {
  height: 873px;
  width: 240px;
  display: inline-block;
  background-color: white;
}
/* line 95, ../scss/style.scss */
nav ul {
  margin-left: 0px;
}
/* line 99, ../scss/style.scss */
nav li {
  list-style: none;
  padding-top: 14%;
  padding-bottom: 14%;
  border-top: 1px dashed #ec5148;
}
/* line 105, ../scss/style.scss */
nav li .image {
  display: inline-block;
  margin-right: 15px;
  margin-left: 4%;
}
/* line 111, ../scss/style.scss */
nav li a {
  color: #363634;
  display: inline-block;
}
/* line 117, ../scss/style.scss */
nav li:hover {
  background-color: #cccccc;
}

/* line 122, ../scss/style.scss */
article {
  display: inline-block;
  vertical-align: top;
  width: 72%;
}

/* line 128, ../scss/style.scss */
#flash {
  width: 40%;
  background-color: #ec5148;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  padding: 4px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

/* line 138, ../scss/style.scss */
.btn {
  background: #ec5148;
  padding: 10px 10px 10px 10px;
  color: white;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  text-transform: uppercase;
}

/* line 146, ../scss/style.scss */
.btnCenter {
  margin: 0 auto;
  width: 20%;
}

/* line 151, ../scss/style.scss */
.formCenter {
  width: 80%;
  margin: 0 auto;
}

/* line 156, ../scss/style.scss */
textarea {
  vertical-align: top;
}

/* Style for Tasks */
/* line 164, ../scss/style.scss */
#tasks .task {
  width: 100%;
  display: inline-block;
  margin-bottom: 1%;
}
/* line 170, ../scss/style.scss */
#tasks .task .name, #tasks .task .dateStart, #tasks .task .dateEnd, #tasks .task .progression, #tasks .task .importance, #tasks .task a {
  display: inline-block;
  margin-left: 3%;
}
/* line 175, ../scss/style.scss */
#tasks .task .name {
  width: 30%;
}
/* line 179, ../scss/style.scss */
#tasks .task .dateStart, #tasks .task .dateEnd {
  width: 11%;
}
/* line 183, ../scss/style.scss */
#tasks .task .progression, #tasks .task .importance {
  width: 7%;
  background-color: #f9f7ed;
}
/* line 188, ../scss/style.scss */
#tasks .task a {
  list-style: none;
  text-decoration: none;
  color: #ec5148;
}

/* Style for AddTask */
/* line 199, ../scss/style.scss */
#addTask .formCenter, #editTask .formCenter, #addBug .formCenter, #addMeeting .formCenter, #editMeeting .formCenter, #editBug .formCenter, #addUser .formCenter {
  width: 60%;
  margin: 0 auto;
}
/* line 204, ../scss/style.scss */
#addTask input, #editTask input, #addBug input, #addMeeting input, #editMeeting input, #editBug input, #addUser input {
  width: 30%;
}
/* line 208, ../scss/style.scss */
#addTask label, #editTask label, #addBug label, #addMeeting label, #editMeeting label, #editBug label, #addUser label {
  display: inline-block;
}
/* line 212, ../scss/style.scss */
#addTask input, #editTask input, #addBug input, #addMeeting input, #editMeeting input, #editBug input, #addUser input {
  display: inline-block;
}
/* line 216, ../scss/style.scss */
#addTask .dateNext, #editTask .dateNext, #addBug .dateNext, #addMeeting .dateNext, #editMeeting .dateNext, #editBug .dateNext, #addUser .dateNext {
  display: inline-block;
  width: 45%;
}
/* line 220, ../scss/style.scss */
#addTask .dateNext input, #editTask .dateNext input, #addBug .dateNext input, #addMeeting .dateNext input, #editMeeting .dateNext input, #editBug .dateNext input, #addUser .dateNext input {
  width: auto;
}
/* line 225, ../scss/style.scss */
#addTask textarea, #editTask textarea, #addBug textarea, #addMeeting textarea, #editMeeting textarea, #editBug textarea, #addUser textarea {
  width: 600px;
  height: 170px;
}
/* line 230, ../scss/style.scss */
#addTask button, #editTask button, #addBug button, #addMeeting button, #editMeeting button, #editBug button, #addUser button {
  margin-left: 18%;
}
/* line 236, ../scss/style.scss */
#addTask #progression .progressions, #editTask #progression .progressions, #addBug #progression .progressions, #addMeeting #progression .progressions, #editMeeting #progression .progressions, #editBug #progression .progressions, #addUser #progression .progressions {
  width: 15%;
  height: 21px;
  display: inline-block;
  margin-left: 1%;
  color: #f9f7ed;
  text-align: center;
}
/* line 245, ../scss/style.scss */
#addTask #progression #basse, #editTask #progression #basse, #addBug #progression #basse, #addMeeting #progression #basse, #editMeeting #progression #basse, #editBug #progression #basse, #addUser #progression #basse {
  background-color: #A7F547;
}
/* line 249, ../scss/style.scss */
#addTask #progression #moyenne, #editTask #progression #moyenne, #addBug #progression #moyenne, #addMeeting #progression #moyenne, #editMeeting #progression #moyenne, #editBug #progression #moyenne, #addUser #progression #moyenne {
  background-color: #6789C9;
  border-bottom: 2px solid #ec5148;
  border-spacing: 15px 15px;
}
/* line 255, ../scss/style.scss */
#addTask #progression #haute, #editTask #progression #haute, #addBug #progression #haute, #addMeeting #progression #haute, #editMeeting #progression #haute, #editBug #progression #haute, #addUser #progression #haute {
  background-color: #E9FA2A;
}
/* line 259, ../scss/style.scss */
#addTask #progression #urgente, #editTask #progression #urgente, #addBug #progression #urgente, #addMeeting #progression #urgente, #editMeeting #progression #urgente, #editBug #progression #urgente, #addUser #progression #urgente {
  background-color: #FC9423;
}
/* line 264, ../scss/style.scss */
#addTask #flash, #editTask #flash, #addBug #flash, #addMeeting #flash, #editMeeting #flash, #editBug #flash, #addUser #flash {
  width: 100%;
}

/* line 269, ../scss/style.scss */
#part {
  display: inline;
}

/* line 274, ../scss/style.scss */
#addTask .usersselect, #editTask .usersselect, #addMeeting .usersselect, #editMeeting .usersselect, #addBug .usersselect, #editBug .usersselect {
  background-color: #ec5148;
  color: white;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  margin-right: 4%;
  padding-left: 3px;
  padding-right: 3px;
}
/* line 285, ../scss/style.scss */
#addTask #usersSelect, #editTask #usersSelect, #addMeeting #usersSelect, #editMeeting #usersSelect, #addBug #usersSelect, #editBug #usersSelect {
  width: 35%;
  display: inline-block;
}
/* line 290, ../scss/style.scss */
#addTask a, #editTask a, #addMeeting a, #editMeeting a, #addBug a, #editBug a {
  display: inline-block;
  vertical-align: top;
  margin-left: 4%;
}

/** Style for Modify Task **/
/** Modification for Edit info **/
/* line 301, ../scss/style.scss */
#editInfo {
  width: 90%;
  margin: 0 auto;
}
/* line 306, ../scss/style.scss */
#editInfo h4 {
  color: #ec5148;
}
/* line 310, ../scss/style.scss */
#editInfo h2 {
  margin-left: 5%;
}
/* line 314, ../scss/style.scss */
#editInfo #info, #editInfo #password {
  display: inline-block;
  vertical-align: top;
}
/* line 318, ../scss/style.scss */
#editInfo #info input, #editInfo #password input {
  width: 50%;
}
/* line 324, ../scss/style.scss */
#editInfo #info {
  width: 54%;
  margin-left: 5%;
}
/* line 329, ../scss/style.scss */
#editInfo #password {
  width: 40%;
}

/** Connexion **/
/* line 335, ../scss/style.scss */
#login {
  text-align: center;
}
/* line 338, ../scss/style.scss */
#login input {
  width: 30%;
  margin: 0 auto;
}
/* line 343, ../scss/style.scss */
#login h2 {
  color: #ec5148;
}

/* List Projects */
/* line 349, ../scss/style.scss */
#listProjects {
  width: 90%;
  margin: 0 auto;
}
/* line 354, ../scss/style.scss */
#listProjects .project {
  height: 220px;
  width: 28%;
  background-color: #ec5148;
  color: #f9f7ed;
  font-size: 22px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  text-align: center;
  display: inline-block;
  margin-right: 5%;
  margin-bottom: 2%;
  vertical-align: top;
  font-weight: 300;
}
/* line 368, ../scss/style.scss */
#listProjects .project:last {
  margin-right: none;
}
/* line 372, ../scss/style.scss */
#listProjects .project h5 {
  margin-top: 25px;
  font-size: 26px;
  color: #f9f7ed;
  font-weight: 300;
}
/* line 379, ../scss/style.scss */
#listProjects .project a {
  display: block;
  color: #ec5148;
  width: 70%;
  margin: 0 auto;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  background-color: #f9f7ed;
  font-size: 15px;
  padding: 6px;
}
/* line 390, ../scss/style.scss */
#listProjects .project p {
  font-weight: 300;
}
/* line 395, ../scss/style.scss */
#listProjects .inlineblock {
  display: inline-block;
}
/* line 400, ../scss/style.scss */
#listProjects #createProject {
  border: 1px solid #ec5148;
  background-color: white;
  color: #ec5148;
  margin: 0 auto;
}
/* line 406, ../scss/style.scss */
#listProjects #createProject a {
  background-color: #ec5148;
  color: #f9f7ed;
  margin-top: 100px;
  font-size: 20px;
  padding: 10px;
}
/* line 415, ../scss/style.scss */
#listProjects #addProject {
  position: absolute;
  width: 400px;
  height: 220px;
  background-color: #f9f7ed;
  border: 1px solid #ec5148;
  border-top: 2px solid red;
  top: 50%;
  margin-top: -80px;
  margin-left: -200px;
  left: 50%;
  z-index: 10;
}
/* line 428, ../scss/style.scss */
#listProjects #addProject input {
  width: 300px;
}
/* line 431, ../scss/style.scss */
#listProjects #addProject .btn {
  margin-left: 10%;
}

/* Style for Register */
/* line 439, ../scss/style.scss */
#register {
  width: 40%;
  margin: 0 auto;
}
/* line 443, ../scss/style.scss */
#register #flash {
  width: auto;
}

/* Style for Logs */
/* line 450, ../scss/style.scss */
#logs {
  width: 60%;
  margin: 0 auto;
}

/* Style for Params */
/* line 458, ../scss/style.scss */
#params h4 {
  display: inline-block;
  width: 44%;
}
/* line 463, ../scss/style.scss */
#params p {
  width: 44%;
  display: inline-block;
}
/* line 468, ../scss/style.scss */
#params a {
  margin-right: 2%;
}
/* line 472, ../scss/style.scss */
#params #cat, #params .cat {
  font-size: 18px;
  display: inline-block;
  width: 20%;
  margin-top: 1%;
}
/* line 479, ../scss/style.scss */
#params #categoriges {
  margin-bottom: 3%;
}

/* line 486, ../scss/style.scss */
#addCategory, #modifyCategory, #deleteProject, #deleteCategory {
  position: absolute;
  width: 400px;
  height: 250px;
  background-color: #f9f7ed;
  border: 1px solid #ec5148;
  border-top: 2px solid red;
  top: 50%;
  margin-top: -80px;
  margin-left: -200px;
  left: 50%;
  z-index: 10;
}
/* line 499, ../scss/style.scss */
#addCategory input, #modifyCategory input, #deleteProject input, #deleteCategory input {
  width: 300px;
}
/* line 502, ../scss/style.scss */
#addCategory .btn, #modifyCategory .btn, #deleteProject .btn, #deleteCategory .btn {
  margin-left: 10%;
}

/* line 507, ../scss/style.scss */
#delProject {
  margin-top: 10%;
}

/* line 511, ../scss/style.scss */
.doc {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  text-align: center;
  margin-bottom: 20px;
}

/* line 519, ../scss/style.scss */
#modifDoc {
  position: absolute;
  width: 450px;
  height: 270px;
  background-color: #f9f7ed;
  border: 1px solid #ec5148;
  border-top: 2px solid red;
  top: 50%;
  margin-top: -180px;
  margin-left: -210px;
  left: 50%;
  z-index: 10;
}
/* line 532, ../scss/style.scss */
#modifDoc .btn {
  margin-left: 10%;
}

/* line 537, ../scss/style.scss */
#meetings {
  font-size: 18px;
}
/* line 540, ../scss/style.scss */
#meetings #meeting {
  margin-bottom: 1%;
}
/* line 543, ../scss/style.scss */
#meetings #meeting .name, #meetings #meeting .dateStart, #meetings #meeting .duree, #meetings #meeting .time, #meetings #meeting a {
  display: inline-block;
  margin-left: 3%;
}
/* line 548, ../scss/style.scss */
#meetings #meeting .name {
  width: 27%;
}
/* line 552, ../scss/style.scss */
#meetings #meeting .dateStart {
  width: 12%;
}
/* line 556, ../scss/style.scss */
#meetings #meeting .duree {
  width: 12%;
}
/* line 560, ../scss/style.scss */
#meetings #meeting .time {
  width: 12%;
}
/* line 564, ../scss/style.scss */
#meetings #meeting a {
  width: 20%;
  color: #ec5148;
}

/* line 571, ../scss/style.scss */
#bugs {
  font-size: 18px;
}
/* line 574, ../scss/style.scss */
#bugs #bug {
  margin-bottom: 1%;
}
/* line 578, ../scss/style.scss */
#bugs #bug .name, #bugs #bug .dateStart, #bugs #bug .creator, #bugs #bug .resolve, #bugs #bug a {
  display: inline-block;
  margin-left: 3%;
}
/* line 583, ../scss/style.scss */
#bugs #bug .name {
  width: 20%;
}
/* line 587, ../scss/style.scss */
#bugs #bug .dateStart {
  width: 12%;
}
/* line 591, ../scss/style.scss */
#bugs #bug .creator {
  width: 20%;
}
/* line 595, ../scss/style.scss */
#bugs #bug .resolve {
  width: 10%;
}
/* line 599, ../scss/style.scss */
#bugs #bug a {
  width: 20%;
  color: #ec5148;
}
