<div class="container-fluid">

	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
	<article>

		<div id="addBug">
			<div class="formCenter">

				<div id="flash" ng-show="flash">
			        {{ flash }}
			    </div> <br/> <br/>

				<form class="form-horizontal">
				<h4>Ajouter un bug</h4>

					<form class="form-horizontal">

			        <label for="name">Nom :</label> <br/>
			        <input type="text" id="name"  ng-model="bug.name" required> <br/> <br/>

			        <label for="description">Description :</label>
			        <textarea name="ameliorer" id="ameliorer" size="600" ng-model="bug.description" required></textarea> <br/>
						<button type="submit" class="btn" ng-click="addBug()">Ajouter le bug</button>
				</form>
			</div>
		</div>
</div>

