<div class="container-fluid">

	<nav class="top-bar">
		<ul>
			<li class="divider"><a href="#/project/{{ projectId }}/tasks"> Taches</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/documents"> Documents</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/meetings"> Réunion</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/logs"> Journal</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/bugs"> Bugs</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/users"> Utilisateurs</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/stats"> Statistiques</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/params"> Paramètres</a></li>
		</ul>
	</nav>

	<h4>Ajouter un bug {{ projectId }}</h4>

			<form class="form-horizontal">

	        <label for="name">Nom du bug</label>
	        <input type="text" id="name"  ng-model="bug.name" required>

	        <label for="description">description du bug</label>
	        <textarea name="ameliorer" id="ameliorer" size="600" ng-model="bug.description" required></textarea>

			<button type="submit" ng-click="addBug()">Ajouter le bug</button>

		</form>
</div>


		<div id="flash" ng-show="flash">
	        {{ flash }}
	    </div>
