	<div header> </div>
	<div style="display:inline-block;height: 100%;" menuleft> </div>

	<article>
		<div id="flash" ng-show="flash">
		    {{ flash }}
		</div>

		<h4> Ajouter un document </h4>


		<label for="description">description du document</label>
		<textarea name="ameliorer" id="ameliorer" size="500" ng-model="file.description" required></textarea>

		<input type="file" ng-file-select="onFileSelec($files)" >
		
		<a class="btn" ng-click="onFileSelect()"> Envoyer le fichier</a>
	</article>
