	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
	<article>

		<div id="addMeeting">
			<div id="flash" ng-show="flash">
		        {{ flash }} 
		    </div> <br/>
			<div class="formCenter">

			<h4>Ajouter une réunion</h4>

			<form class="form-horizontal">

		        <label for="name">Nom de la réunion :</label>
		        <input type="text" id="name"  ng-model="meeting.name" required><br/>

		        <label for="description">Description de la réunion :</label>
		        <textarea name="ameliorer" id="ameliorer" size="500" ng-model="meeting.description" required></textarea>

		        <label for="place">Lieu de la réunion :</label>
		        <input type="text" id="place"  ng-model="meeting.place" required> <br/>
						
				<label for="dateS"> Date de début :</label>
		        <input type="date" id="dateS" ng-model="task.dateStart" />

		        <label for="dateT"> Heure de début :</label>
		        <input type="text" id="dateT" ng-model="meeting.timeStart" /> <br/>

		        <label for="duree"> Duree :</label>
		        <input type="text" id="duree" ng-model="meeting.duree" /> <br/> 

		        <div selectcategories> </div>
		        <div selectusers> </div>
	 
				<button type="submit" class="btn" ng-click="addMeeting()">Ajouter la réunion</button>

			</form>
		</div>
	</div>