<div class="container-fluid">

	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
	<article>
		<div id="addTask">
		<div class="formCenter">
			<div id="flash" ng-show="flash">
			        {{ flash }}
			   </div>
			   <br/>
		<h4>Ajouter une tache</h4> <br/> 
		
			<form class="form-horizontal">

		        <label for="name">Nom de la tache : </label>
		        <input type="text" id="name"  ng-model="task.name" required> <br/> 

		        <label for="description">Description de la tache : </label>
		        <textarea name="ameliorer" id="ameliorer" ng-model="task.description" required></textarea> 
				
				<div class="dateNext">
					<label for="dateS"> Date de début</label>
		        <!--<datepicker ng-model='task.dateStart' disable-clear-button="true" placeholder='Date de début' date-format="dd/MM/yyyy" disable-timepicker="true"></datepicker> -->
		        <input type="date" id="dateS" ng-model="task.dateStart" />
				</div>

				<div class="dateNext">
			        <label for="dateE"> Date de fin</label>
		        <!-- <datepicker ng-model='task.dateEnd' disable-clear-button="true" placeholder='Date de fin' date-format="dd/MM/yyyy" disable-timepicker="true"></datepicker> -->
		        <input type="date" id="dateE" ng-model="task.dateEnd" />
		        </div>
		        <br/>

<br/>
					<label for="importance"> Importance :</label> <br/>
			        <input type="radio" name="importance" id="urgent" value="3" ng-model="task.importance"/> <label for="urgent">Urgent</label> <br />
		       		<input type="radio" name="importance" id="haute" value="2" ng-model="task.importance" /> <label for="haute">Haute</label>    <br />
		     		<input type="radio" name="importance" id="moyenne" value="1" ng-model="task.importance" /> <label for="moyenne">Moyenne</label><br />
		     		<input type="radio" name="importance" id="basse" value="0" ng-model="task.importance" /> <label for="basse">Basse</label>    <br />

				<br/> 
					<div selectcategories> </div>
					<div selectusers> </div>
					<button type="submit" class="btn" ng-click="addTask()">Ajouter la tache</button>

			</form>
			</div>
		</div>
	</article>

</div>
