<div class="container-fluid">

	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
	<article>
		<div id="bug">
			<h2> Vos différents bugs</h2>

			<div id="project" >
	         <p>{{ bug.name }} {{ bug.description }} {{ bug.created_at | date:'yyyy-MM-dd' }}  {{ bug.resolve}} {{ bug._creator.firstName }} {{ bug._creator.lastName }}  {{ bug.resolve }} </p>
			</div>

			<br/> 
			<a href="#/project/{{ projectId }}/editBug/{{ bug.id }}" class="btn"> Modifier le bug </a>
			<br/>

			<div id="flash" ng-show="flash">
		        {{ flash }}
		    </div>
	    </div>
	</article>
</div>