<div class="container-fluid">

	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
	<article>
		<div id="bug">
			<h2> Bug {{ bug.name }}</h2>

			<div id="project" >
	         Date de création : {{ bug.created_at | date:'yyyy-MM-dd' }}<br/>
	         Créateur : {{ bug._creator.firstName }} {{ bug._creator.lastName }}<br/>
	         Catégorie : {{ bug._category.name }}<br/>
	         Résolu : {{ bug.resolve }}<br/>
	         Participants : <div class="part" ng-repeat="user in bug.users"> - {{ user.firstName }} {{ user.lastName }}</div> <br/>
	         <br/> Description : <p>{{ bug.description }}</p> 
			</div>

			<br/> 
			<a href="#/project/{{ projectId }}/editBug/{{ bug.id }}" class="btn"> Modifier le bug </a>
			<br/>

			<div id="flash" ng-show="flash">
		        {{ flash }}
		    </div>
	    </div>
	</article>
</div>