<div class="container-fluid">

	<nav class="top-bar">
		<ul>
			<li class="divider"><a href="#/project/{{ projectId }}/tasks"> Taches</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/documents"> Documents</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/meetings"> Réunion</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/logs"> Journal</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/bugs"> Bugs</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/users"> Utilisateurs</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/stats"> Statistiques</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/params"> Paramètres</a></li>
		</ul>
	</nav>

		<h2> Liste des bugs de votre projet {{ projectId}} </h2>

		<h4> Liste des vos bugs</h4>

		<div id="bug" ng-repeat="bug in bugs" >
			<p><a href="#/project/{{ projectId }}/bugs/{{ bug.id }}"> {{ bug.name }} {{ bug.description }} {{ bug.created_at }}  {{ bug.resolve}} {{ bug._creator.firstName }} {{ bug._creator.lastName }}</a> </p>
		</div>

		<div id="flash" ng-show="flash">
        	{{ flash }}
   		</div>

   		<br/>
   		<a href="#/project/{{ projectId }}/addBug"> Ajouter un bug</a>

</div>
