<div class="container-fluid">
	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
	<article>
		<div id="bugs">
			<h2> Liste des bugs </h2>

			<div id="bug" ng-repeat="bug in bugs" >

				<div class="name"> {{ bug.name }}</div>
				<div class="dateStart">{{ bug.created_at | date:'yyyy-MM-dd'}}</div>
				<div class="creator">{{ bug._creator.firstName }} {{ bug._creator.lastName }}</div>
				<div class="resolve">{{ bug.resolve }}</div>
				<a href="#/project/{{ projectId }}/bugs/{{ bug.id }}"> Voir les détails</a>
			</div>

			<div id="flash" ng-show="flash">
	        	{{ flash }}
	   		</div>

	   		<br/>
	   		<center><a class="btn" href="#/project/{{ projectId }}/addBug"> Ajouter un bug</a></center>
   		</div>
   	</article>

</div>
