<div class="container-fluid">
	<div menuleft>

	</div>
	<article>
		<div id="bugs">
			<h2> Liste des bugs </h2>

			<div id="bug" ng-repeat="bug in bugs" >
				<p><a href="#/project/{{ projectId }}/bugs/{{ bug.id }}"> {{ bug.name }} {{ bug.description }} {{ bug.created_at | date:'yyyy-MM-dd' }} {{ bug._creator.firstName }} {{ bug._creator.lastName }}  {{ bug.resolve }}</a> </p>
			</div>

			<div id="flash" ng-show="flash">
	        	{{ flash }}
	   		</div>

	   		<br/>
	   		<a class="btn" href="#/project/{{ projectId }}/addBug"> Ajouter un bug</a>
   		</div>
   	</article>

</div>
