<div class="container-fluid">

	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
	<article>


		<h4> Liste des vos documents</h4>

		<div id="doc" ng-repeat="doc in docs" >
			<p><a href="C:\Users\Nico\Desktop\Cleanz\content\0\accueil.png" ng-click="getDocument(doc)"> {{ doc.name }} {{ doc.description }} {{ doc.created_at | date:'yyyy-MM-dd' }}  {{ doc.size}} {{ bug._creator.firstName }} {{ bug._creator.lastName }} </a> </p>
			<a ng-click="getDocument(doc)">download</a>
			<a ng-click="getDoc(doc)"> Modifier le document</a>
		</div>

		

		<div id="flash" ng-show="flash">
        	{{ flash }}
   		</div>

   		<br/>
   		<a href="#/project/{{ projectId }}/addDocument" class="btn"> Ajouter un Document</a>

   		<h4> Modifier le document </h4>
		
		<div id="modifDoc">
			<form>
				<label for="name"> Nom du document : </label>
				<input type="text" ng-model="doc.name" id="name"/>

				<label for="descr"> Description du document : </label>
				<textarea name="descr" id="descr" ng-model="doc.description" cols="30" rows="50"></textarea>

				<button type="submit" class="btn" ng-click="editDoc(doc)">Modifié le document</button>
			</form>
			<a ng-click="deleteDoc(doc)" class="btn">Supprimer le document</a>

		</div>
	</article>
</div>
