<div class="container-fluid">

	<div menuleft>

	</div>
	<article>

		<div id="editBug">
			<div class="formCenter">

			<h4>Editer une bug</h4>

				<form class="form-horizontal">

			        <label for="name">Nom du bug :</label>
			        <input type="text" id="name"  ng-model="bug.name" required> <br/> <br/>

			        <label for="description">Description du bug :</label>
			        <textarea name="ameliorer" id="ameliorer" size="600" ng-model="bug.description" required></textarea>

					<button type="submit" class="btn" ng-click="editBug()">Modifié le bug</button>
					<a ng-click="removeBug()" class="btn"> Supprimer le bug</a>

				</form> <br/>


				<div id="flash" ng-show="flash">
			        {{ flash }}
			    </div>
			</div>
		</div>
	</article>
</div>
