<div header> </div>
	<div style="display:inline-block;height: 100%;" menuleft>

	</div>

	<article>
		<h4>Modifier une réunion</h4>

		<div id="flash" ng-show="flash">
	        {{ flash }}
	    </div> <br/>

		<div id="editMeeting">
			<div class="formCenter">
				<form class="form-horizontal">

			        <label for="name">Nom de la réunion</label>
			        <input type="text" id="name"  ng-model="meeting.name" required> <br/>

			        <label for="description">Description de la réunion</label>
			        <textarea name="ameliorer" id="ameliorer" size="500" ng-model="meeting.description" required></textarea>

			        <label for="place">Lieu de la réunion</label>
			        <input type="text" id="place"  ng-model="meeting.place" required>
					
					<label for="dateS"> Date de début</label>
			        <input type="date" id="dateS" ng-model="meeting.dateStart" />


			        <label for="dateT"> Heure de début</label>
			        <input type="text" id="dateT" ng-model="meeting.timeStart" />

			        <label for="duree"> Durée</label>
			        <input type="text" id="duree" ng-model="meeting.duree" />

			        <div selectcategories> </div>
			        <div selectusers> </div>

					<button type="submit" class="btn" ng-click="editMeeting()">Modifier la réunion</button>
					<a class="btn" ng-click="removeMeeting()">Supprimer la réunion </a>

				</form>

	   			<br/>
			    <br/>

	    	</div>
		</div>
	</article>

