     <article>
        <br/>
        <div id="editInfo">
            <h2>Modification de vos informations personnelles</h1>
                    <br/> <br/>
                            <div id="flash" ng-show="flash">
            {{ flash }}
        </div>
        <br/>
            <div id="info">
                <h4> Vos informations personelles</h4>
                <form class="form-horizontal">
                		<label class="control-label" for="email">Prénom :</label>
                        <input type="text" id="email"  ng-model="user.firstName" required>

                        <label class="control-label" for="email">Nom :</label>
                        <input type="text" id="email"  ng-model="user.lastName" required>

                        <label class="control-label" for="email">Numéro de téléphone :</label>
                        <input type="text" id="email"  ng-model="user.phone" required>

                        <button type="submit" class="btn" ng-click="editInfoUser()">Modifier mes informations personnelles</button>

                </form>
            </div>
            
            <div id="password">
                <h4> Modification de votre mot de passe </h4>
                <form class="form-horizontal">

                        <label class="control-label" for="email">Mot de passe actuel</label>
                        <input type="password" id="password" ng-model="user.oldPassword" required>

                        <label class="control-label" for="password">Mot de passe :</label>
                        <input type="password" id="password" ng-model="user.password1" required>

                        <label class="control-label" for="password">Mot de passe :</label>
                        <input type="password" id="password" ng-model="user.password2" required> <br/>

                        <button type="submit" class="btn" ng-click="editPasswordUser()">Modifier mon mot de passe</button>

                </form>
            </div>
        </div>

    </article>