
<div id="login">
<br/> <br/>
	<h2>Connexion</h2>
	<br/> <br/>

	<div id="flash" ng-show="flash">
	     {{ flash }}
	</div>
	<br/>
	<form class="form-horizontal">

	        <label class="control-label" for="email">Email</label> <br/>
	        <input type="text" id="email"  ng-model="user.email" required>
			 <br/> <br/> <br/>
	        <label class="control-label" for="password">Mot de passe</label><br/>
	        <input type="password" id="password" ng-model="user.password" required> <br/>
	        <br/>

	        <button type="submit" class="btn" ng-click="login()">Se connecter</button>
			
			<br/> <br/>
			Mot de passe oublié ? <span class="red">Renvoyer un mot de passe</span>
	    </div>
	</form>
</div>