<div class="container-fluid">

	<nav class="top-bar">
		<ul>
			<li class="divider"><a href="#/project/{{ projectId }}/tasks"> Taches</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/documents"> Documents</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/meetings"> Réunion</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/logs"> Journal</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/bugs"> Bugs</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/users"> Utilisateurs</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/stats"> Statistiques</a></li>
			<li class="divider"><a href="#/project/{{ projectId }}/params"> Paramètres</a></li>
		</ul>
	</nav>

		<h2> Journal de votre projets </h2>

		<div id="logs">
			<div id="log" ng-repeat="log in logs">
				<p> {{ log._creator.firstName }} {{ log._creator.lastName }} {{ log._logmessage.name }} {{ log.name }} </p>
			</div>
		</div>

</div>
