	<div header> </div>
	<div class="container-fluid">

	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
		<article>
			<div id="meetings">

				<h2> Réunions - {{ meetings.length }} </h2>
				<br/>

				<div id="meeting" ng-repeat="meeting in meetings" >
					<div class="name"> {{ meeting.name }}</div>
					<div class="dateStart">{{ meeting.dateStart | date:'yyyy-MM-dd'}}</div>
					<div class="time">{{ meeting.timeStart }}</div>
					<div class="duree">{{ meeting.duree }} min</div>
					<a href="#/project/{{ projectId }}/meetings/{{ meeting.id }}"> Voir les détails</a>
					<br/>
				</div> <br/> <br/>

				<center><a href="#/project/{{ projectId }}/addMeeting" class="btn">Ajouter une réunion</a></center>
			</div>
		</article>

	</div>
