	<div class="container-fluid">

	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
		<article>

			<div id="meeting">
				<h4> Detail de votre réunion {{ meeting.name }}</h4>
				
				Date de début : {{ meeting.dateStart | date:'yyyy-MM-dd' }} <br/>
				Heure de début : {{ meeting.timeStart }}<br/>
				Durée : {{ meeting.duree }}<br/><br/>

				Catégorie : {{ meeting._category.name }}<br/>
				Participants : <div class="part" ng-repeat="user in meeting.users"> - {{ user.firstName }} {{ user.lastName }}</div><br/><br/>
				Description :<p> {{ meeting.description }}</p>

				</div>

				<br/>

				<a class="btn" href='#/project/{{ projectId }}/editMeeting/{{ meeting.id }}'>Modifier la réunion</a>
			</div>
		</article>
	</div>
