	<div class="container-fluid">

	<div menuleft>

	</div>
		<article>

		<h4> Liste des vos réunions </h4>
		<br/> <br/>

		<div id="meeting" ng-repeat="meeting in meetings" >

			<p><a href="#/project/{{ projectId }}/meetings/{{ meeting.id }}"> {{ meeting.name }} {{ meeting.description }} {{ meeting.dateStart | date:'yyyy-MM-dd' }} {{ meeting.timeStart }} {{ meeting.duree }}</a> </p>

		</div> <br/> <br/>

		<a href="#/project/{{ projectId }}/addMeeting" class="btn">Ajouter une réunion</a>

		</article>

	</div>
