	<div header> </div>
	<div class="container-fluid">

	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
		<article>

			<div id="detail" >
				<div class="top"><div id="name"><h2>{{ meeting.name }} </h2></div> <div id="button"><a href="#/project/{{ projectId }}/editMeeting/{{ meeting.id }}" class="btn">Editer la réunion</a></div></div>
				<div id="table">
				<div id="description"><div class="content">{{ meeting.description}}</div></div>
				<div id="info"> <br/>
					<div class="title"> Lieu :</div>
					{{ meeting.place }} 
					<hr/>
					<div class="title"> Date :</div>
					{{ meeting.dateStart | date:'yyyy/MM/dd'}} 
					<hr/>
					<div class="title">Heure :</div>
					{{ meeting.timeStart }} 
					<hr/>
					<div class="title">Durée :</div>
					{{ meeting.duree }} min
					<hr/>
					<div class="title">Catégorie :</div>
					{{ meeting._category.name }} 
					<hr/>

					<div class="title">Participants :</div>
					<div class="participant" ng-repeat="user in meeting.users"> - {{ user.firstName }} {{ user.lastName }}<br/></div><br/> 
				</div>
			</div>
		</article>
	</div>
