<div class="container-fluid">

	<div menuleft>

	</div>
	<article>

		<h2> Dashboard </h2> <br/>
				<div id="flash" ng-show="flash">
			        {{ flash }}
			    </div> <br/> <br/>

		<div id="addUser">
			<form class="form-horizontal">

				<label for="email">Email de l'utilisateur : </label>
				<input type="text" id="email"  ng-model="userAdd.email" required>
						
				<button type="submit" class="btn" ng-click="addProjectUser()">Ajouter l'utilisateur au projet</button>
		    </form>
	    </div>
	</article>
</div>
