<div header> </div>
<div class="container-fluid">
	<div id="listProjects">
		<h2> Vos projets :</h2> <br/> <br/>

	    <div class="project" ng-repeat="project in projects">
			<h5> {{ project.name }} </h5> <br/>
			<p> {{ project.users.length }} participants </p>
			<p> {{ project.tasks.length }} taches </p>
			<a href="#/project/{{project.id}}"> Se rendre sur le projet</a>
		</div>
		<div  class="project" id="createProject">
			<a class="btn" ng-click="addTaskShow()"> AJOUTER UN PROJET </a>
		</div>

		<div id="addProject" ng-show="showAddTask">
			<form class="form-horizontal">
			<div class="formCenter">
				 <h4> Créer un projet </h4> <br/> <br/>
		        <label for="firstname">Nom du projet :</label> 
		        <input type="text" id="firstname"  ng-model="project.name" required> <br/>
	        </div>
			
			<button  class="btn" type="submit" ng-click="addProject()">Ajouter le projet</button>
			<a class="btn" ng-click="addTaskHide()"> Annuler</a>

		</form>
		</div>

		<div id="flash" ng-show="flash">
	        {{ flash }}
	    </div>

	    <h2> Vos invitations : </h2>

	    <div id="invitations">
	    	<div id="invit" ng-repeat="invit in invits">
		    	{{ invit.name }} <a class="btn" ng-click="acceptInvit(invit)" >Accepter l'invitation</a>
		    	<a class="btn" ng-click="refuseInvit(invit)">Refuser l'invitation</a> <br/>
	    	</div>
	    </div>
	</div>
</div>
