<div class="container-fluid">

	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
	<article>
		<h2> Détail de la tache {{ task.name }} </h2>

		<div id="detailTask" >

		Date de début : {{ task.dateStart | date:'yyyy/MM/dd'}} <br/>
		Date de fin : {{ task.dateEnd | date:'dd/MM/yyyy'}} <br/>
		Progression : {{ task.progress}}% <br/>
		Catégorie : {{ task._category.name }}<br/>
		Participants : <div class="part" ng-repeat="user in task.users"> - {{ user.firstName }} {{ user.lastName }}</div>

		<br/> Description : <br/>
		{{ task.description }}
		</div> <br/>

		<a href="#/project/{{ projectId }}/editTask/{{ task.id }}" class="btn">Editer la tache</a>
		<br/><br/>




		<div id="flash" ng-show="flash">
	        {{ flash }}
	    </div>

		<h4> Commentaires - {{ comments.length}} </h4>
		<div id="comments">
			<div id="comment" ng-repeat="com in comments">
				{{ com.description }} {{ com.created_at }} par {{ com._creator.firstName }} {{ com._creator.lastName }}
			</div>
		</div>

		<h4>Ajouter un commentaire</h4>

		<form class="form-horizontal">

	        <textarea name="description" id="description" size="300" ng-model="comment.description" required></textarea>

			
			<button type="submit" class="btn" ng-click="addComment()">Ajouter le commentaire</button>

		</form>
	</article>
</div>
