<div header> </div>
<div class="container-fluid">

	<div style="display:inline-block;height: 100%;" menuleft>

	</div>
	<article>

		<div id="detail" >
		<div class="top"><div id="name"><h2>{{ task.name }} </h2></div> <div id="button"><a href="#/project/{{ projectId }}/editTask/{{ task.id }}" class="btn">Editer la tache</a></div></div>
		<div id="table">
			<div id="description"><div class="content">{{ task.description}}</div></div>
			<div id="info">
				<div class="progression">{{ task.progress}}% </div>
				<div class="title"> Date de début :</div>
				{{ task.dateStart | date:'yyyy/MM/dd'}} 
				<hr/>
				<div class="title">Date de fin :</div>
				{{ task.dateEnd | date:'dd/MM/yyyy'}} 
				<hr/>
				<div class="title">Catégorie :</div>
				{{ task._category.name }} 
				<hr/>

				<div class="title">Participants :</div>
				<div class="participant" ng-repeat="user in task.users"> - {{ user.firstName }} {{ user.lastName }}<br/></div> <br/>
			</div>
		</div>

		<br/><br/>




		<div id="flash" ng-show="flash">
	        {{ flash }}
	    </div>

		<h4> Commentaires - {{ comments.length}} </h4>
		<div id="comments">
			<div id="comment" ng-repeat="com in comments">
				<p>{{ com.created_at | date:'dd/MM/yyyy'}} par {{ com._creator.firstName }} {{ com._creator.lastName }}</p> 
				{{ com.description }} 
				<br/> <br/>
			</div>
		</div>

		<h4>Ajouter un commentaire</h4>

		<form class="form-horizontal">

	        <textarea name="description" id="description" size="300" ng-model="comment.description" required></textarea>

			
			<button type="submit" class="btn" ng-click="addComment()">Ajouter le commentaire</button>

		</form>
	</article>
</div>
